{block head}
<script type="text/javascript" src="{$basePath}/js/libs/tinymce/tinymce.min.js"></script>
<script type="text/javascript" src="{$basePath}/js/tinymce.js"></script>
{/block}


{block content}


{ifset $id}
	{control mceForm}
{/ifset}

	
{/block}