{block content}

{snippet postList}
	<table n:inner-foreach="$posts as $post">
		<tr>
		<td width=20>{$post->rank}</td>
		<td>{$post->name}</td>
		<td><a class="ajax" n:href="up! $post->id"><img src="{$basePath}/images/up.png"></td>
		<td><a class="ajax" n:href="down! $post->id"><img src="{$basePath}/images/down.png"></td>
		{if $post->display == 1}
			<td><a class="ajax" n:href="display! $post->id" title="Je vidět"><img src="{$basePath}/images/eye.png" width=24></td>
		{else}
			<td><a class="ajax" n:href="display! $post->id" title="Je skryto"><img src="{$basePath}/images/eyeCross.png" width=24></td>
		{/if}
		<td><a class="ajax" n:href="Post:default $post->id">Upravit</td>
		<td><a class="ajax" n:href="deletePost! $post->id">Smazat</td>
		<tr>
	</table>
{/snippet}

{/block}