{block content}

{control fileForm}

<table n:snippet="fileList" class="tableList" width="750px">
<tr>
	<td class="sortable" width="30">ID</td>
	<td class="sortable">Název</td>
	<td class="sortable" width="200px">Url</td>
	<td class="sortable" width="150px">Vytvořeno</td>
	<td class="sortable" width="50px"></td>
</tr>
<tr n:foreach="$files as $file">
	<td>{$file->id}</td>
	<td><a target="_blank" href="{$basePath}/upload/files/{$file->slug}">{$file->name}</a></td>
	<td>/upload/files/{$file->slug}</td>
	<td>{$file->dateCreated|date:'d.n.Y H:i:s'}</td>
	<td><a class="ajax" n:href="delete! $file->id">Smazat</a></td>
</tr>
</table>

{/block}