{block content}

{snippet userList}
	<table n:inner-foreach="$users as $user" class="tableList">
		{first}
		<tr>
			<td width=50 class="sortable">ID</td>
			<td width=200 class="sortable">Přihlašovaní jméno</td>
			<td width=100 class="sortable">Povolen</td>
			<td width=100 class="sortable">Role</td>
			<td width=140 class="sortable">Created</td>
			<td width=140 class="sortable">Updated</td>
			<td width=100 class="sortable"></td>
			<td width=100 class="sortable"></td>
		</tr>
		{/first}
		<tr class="{if $iterator->odd}odd{else}even{/if}">
			<td>{$user->id}</td>
			<td>{$user->email}</td>
			<td>{$user->enabled}</td>
			<td>{$user->role}</td>
			<td>{$user->dateCreated|date:'d.n.Y H:i:s'}</td>
			<td>{$user->lastUpdated|date:'d.n.Y H:i:s'}</td>
			<td><a n:href="User:edit $user->id">Upravit</a></td>
			<td><a class="ajax" n:href="delete! $user->id">Smazat</a></td>
		</tr>	
	</table>
{/snippet}

{/block}