<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="{$post->description}">
	<meta name="keywords" content="{$post->keyWord}">
	<meta name="robots" content="index, follow">

	<title>{block title}{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/frontStyle.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/frontScript.js"></script>

	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>



<div id="wrap">
	<div id="topShadow"></div>
	<div id="midShadow">
		<div id="innerWrap">
			<div id="head">
				<img src="{$basePath}/upload/head/{$head->slug}">
				<h1>kos-mas-eva.cz</h1>
			</div>
			<div id="nav">
				<ul n:inner-foreach="$menu as $item">
					<li><a style="{!$css}" class="{ifCurrent $item[link] $item[parameter][slug]}active{/ifCurrent}" n:href="$item['link'] $item['parameter']['slug']">{$item['title']}</a></li>
				</ul>
			</div>
			<div id="content">
				{include #content}
			</div>
		</div>
	</div>
	<div id="bottonShadow"></div>

	<div id="footer">
	</div>
</div>


</body>
</html>
