{block content}

{control headForm}

{snippet headList}
	<table class="tableList headList{if $head->selected == 1} headActive{/if}" width="750px" n:foreach="$heads as $head">
	<tr>
		{if $head->selected == 1}
			<td><span class="green">Tento obrázek je nastaven jako obrázek v hlavičce</span></td>
		{else}
			<td><a class="ajax" n:href="setHead! $head->id">Nastavit jako obrázek do hlavičky</a></td>
		{/if}
		<td width=150><a class="ajax" n:href="delete! $head->id">Smazat</a></td>
	</tr>
	<tr>
		<td colspan=2><img src="{$basePath}/upload/head/{$head->slug}" width=300></td>
	</tr>
	</table>
{/snippet}

{/block}