<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="noindex, nofollow">

	<title>{block title}Administrace{/block}</title>

	<link rel="stylesheet" href="{$basePath}/css/adminAuthStyle.css">

	<script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
	<script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
	{block #head}{/block}
	<script type="text/javascript" src="{$basePath}/js/adminScript.js"></script>

	<link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>

	<div id="login">
		<img src="{$basePath}/images/lock.jpg">
		{include #content}
	</div>

</body>
</html>
