<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="robots" content="noindex, nofollow">

    <title>{block title}Administrace{/block}</title>

    <link rel="stylesheet" href="{$basePath}/css/adminStyle.css">

    <script type="text/javascript" src="{$basePath}/js/libs/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/js/libs/nette.ajax.js"></script>
    {block #head}{/block}
    <script type="text/javascript" src="{$basePath}/js/adminScript.js"></script>

    <link rel="shortcut icon" href="{$basePath}/images/favicon.png">
</head>

<body>


    <div id="wrap">
        <div id="container">

            <div id="nav">
                <div class="menu" n:inner-foreach="$menu as $item">
                    {if $item['title'] != 'Adminer'}
                        <a class="main-nav{ifCurrent $item['current']} itemActive{/ifCurrent}" n:href="$item['link']"><img src="{$basePath}/{$item[src]}" width="18">{$item['title']}</a>
                        {* submenu *}
                        {ifset $subMenu}
                        {if $presenter->name == $item['presenter']}
                        {snippet submenu}
                            <div class="menu" n:inner-foreach="$subMenu as $i">
                                {ifset $i['parameter']}
                                    <a class="sub-nav{ifCurrent $i['link'] $i['parameter']['id']} subItemActive{/ifCurrent}" n:href="$i['link'] $i['parameter']['id']">
                                    <img width=8 src="{$basePath}/images/icon_triangle.png">{$i['title']}
                                    </a>   
                                {else}
                                    <a class="sub-nav{ifCurrent $i['link']} subItemActive{/ifCurrent}" n:href="$i['link']">
                                    <img width=8 src="{$basePath}/images/icon_triangle.png">{$i['title']}
                                    </a>   
                                {/ifset}
                            </div>
                        {/snippet}
                        {/if}
                        {/ifset}
                        {* end submenu *}
                    {else}
                        <a class="main-nav" target="_blank" href="{$basePath}/{$item[link]}"><img src="{$basePath}/{$item[src]}" width="18">{$item['title']}</a>
                    {/if}
                </div>
            </div>  

            <div id="content">
                {include #content}
            </div>
        </div>

{*  <div id="footer">
        <a href="http://lukasfessl.cz">Lukáš Fessl © 2014</a>
    </div>
     *}
    </div>




</body>
</html>
