body {
	font: 15px "Arial, Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: black;
	background: #EDEDEB;
	width: 100%;
	background-position: center;
}

#login {
	box-shadow: 0px 0px 10px #666859;
	width: 350px;
	height: auto;
	margin: auto;
	margin-top: 100px;
	padding: 10px;
	background-color: white;
}

#login img {
	margin-left: 40px;
}

#login table {
	margin: 10px 0px 10px 30px;
}

#login input {
	width: 160px;
	margin: 5px;
	padding: 5px;
}

#login input[name=login] {
	width: 172px;
}

.flashMessage {
	height: 40px;
	margin-left: 90px;
	color: red;
	font-weight: bold;
}


#login input[name=email], #login input[name=password] {
	box-shadow: 0px 0px 20px #F3F4F2 inset;
}