body {
	font: 15px "Arial, Trebuchet MS", "Geneva CE", lucida, sans-serif;
	color: black;
	background: #EDEDEB;
	width: 100%;
	background-position: center;
}

#wrap {
	width: 1000px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;		
}

#container {
	box-shadow: 0px 0px 5px #9EA293;
	width: 1000px;
	height: auto;
	float: left;
	background-color: white;
}

#nav {
	border: 2px solid black;
	border-bottom: 1px solid black;
	float: left;
	background-color: #FCFCFC;
	width: 210px;
	/*min-height: 400px;*/
	margin-right: 10px;
	margin-bottom: 25px;
}

#nav, .menu{
	float: left;
	width: 200px;
	
}

.main-nav {
	border-bottom: 1px solid black;
	width: 190px;
	float: left;
	padding: 10px 0px 10px 10px;
	/*text-align: center;*/
	text-decoration: none;
	background-color: #525252;
	color: white;
}

.main-nav:hover {
	background-color: #D50000;
}

.main-nav img {
	margin: 0px 10px -2px 0px;
}
.sub-nav img {
	margin: 0px 10px 1px 0px;
}

.sub-nav {
	width: 190px;
	float: left;
	padding: 10px 0px 10px 10px;
	/*text-align: center;*/
	text-decoration: none;
	background-color: #2E2E2E;
	color: white;
}

.sub-nav:hover {
	background-color: #B30000;
}

.item-active {
	border-left: 4px solid #0080FF;
	padding-left: 6px;
}

.sub-navIcon {
	float: left;
	width: 20px;
	height: 20px;
}

.itemActive {
	background-color: #0080C0
}

.subItemActive {
	width: 188px !important;
	border-left: 2px solid #B30000 !important;
}





#content {
	width: 750px;
	min-height: 500px;
	float: left;
	padding: 10px;
}

.tableList {
	border: 1px solid #dddddd;
}

.tableList tr {
	background: #f9f9f9;
}

.tableList .sortable {
	background: #E0E0E0;
	font-weight: bold
}

.tableList td {
	padding: 8px 5px;
}

.headList {
	margin-top: 10px;
}

.headActive {
	border: 1px solid green;
}

#footer {
	width: 1280px;
	height: 35px;
	/*background-color: #9EA291;*/
	float: left;
	/*margin-bottom: 20px;*/
}

#footer a {
	float: right;
	text-decoration: none;
	padding: 10px;
	color: #727564
}

#footer a:hover {
	text-decoration: underline;
}


.green {
	color: green;
}

.red {
	color: red;
}






ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	width: 910px;
}

li {
	height: 20px;
	border: 1px solid;
	margin: 5px 0px 5px 0px;
	padding: 7px;
	background-color: #C9CAC1;
}

.li-id {
	float: left;
	width: 40px;
}

.li-name, .li-slug {
	float: left;
	width: 200px;
}

.li-date {
	float: left;
	width: 150px;
}

.li-action {
	float: left;
	width: 70px;
}

li span {

}




/*file browser*/
.ftwrap {
	float: left !important;
	width: 250px !important;
	height: 30px !important;
}

.ftwrap:hover>.fbButton {
	background-image: url('/images/butMceBlue.png') !important;
	color: white !important;
}

#fileBrowser {	
	box-shadow: 0px 0px 15px #171814;
	border-radius: 7px 0px 0px 7px;
	width: 250px;
	height: 240px;
	background-color: white;
	position: absolute;
	z-index: 65537;
	margin: -240px 0px 0px 490px;
	overflow:  scroll;
	overflow-x: hidden;
}

.fbButton {
	float: left !important;
	padding: 5px !important;
	width: 230px !important;
	height: 20px !important;
	text-decoration: none !important;
	color: black !important;
}


.fbshow {
	float: left !important;
	width: 24px !important;
	height: 24px !important;
	margin: 3px !important;;
	margin-left: -30px !important;
	display: block !important;
	background-image: url('/images/show.png') !important;
	background-repeat: no-repeat;
}

#textarea_description {
	width: 695px;
	height: 100px;
}

#textarea_keyWord {
	width: 695px;
	height: 35px;
}