body {
	background-image: url('/images/bcg1.jpg');
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
	margin: 0px;
	padding: 0px;
}

h1 {
	display: none;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 1020px;
	margin: auto;
	margin-top: 50px;
}

#topShadow, #bottonShadow {
	width: 1020px;
	height: 20px;
	float: left;
	background-repeat: no-repeat;
}

#topShadow {
	background-image: url('/images/shadowTop.png');
}

#bottonShadow {
	background-image: url('/images/shadowBotton.png');
}

#midShadow {
	width: 1000px;
	height: auto;
	float: left;
	padding: 0px 10px;
	background-image: url('/images/shadowMid.png');
}

#innerWrap {
	width: 1000px;
	min-height: 400px;
	float: left;
	margin-top: -10px;
	background-color: #FFFFFF;
}

#head {
	float: left;
}

#nav {
	width: 1000px;
	height: auto;
	float: left;
	background-color: #FF8040;
	margin-top: -5px;
}

#nav a {
	float: left;
	text-decoration: none;
}

#nav a:hover {
	float: left;
	text-decoration: underline;
}


#content {
	width: 980px;
	padding: 10px;
	padding-top: 0px;
	float: left;
}

#footer {
	width: 1000px;
	height: 100px;
	float: left;
}

.active {
	text-decoration: underline !important;
}